body{
  font-family:'Montserrat',sans-serif;
  text-align: center;

}

h1{
  font-weight: 900;/*this is for black(the font style not color) coz font system has been updated*/
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
}
h2, h3{
  font-weight: bold;
}
p{
color:#8f8f8f;
}
/* container */
.container-fluid{
  padding:7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/* navigation bar */
.navbar-brand{
  font-family: 'Ubuntu';
  font-size:2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding:0 1rem;
}
.nav-link{
  font-size:1.2rem;
  font-weight:400;
}
.download-button{
  margin:5% 3% 5% 0;
}
/* title section */

#title .container-fluid{
  padding: 3% 15% 7%;
    text-align: left;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position:absolute;
  right:30%;
}

.title-image-container{
  position:relative;
}

/* features */
#features{
  /* essential for stacking to happen, both elements should have colour*/
  position: relative;
  z-index: 1;
  /* even without the z-value it will be onn top of the stack as in the html file feature comes after image,
  as seen in the flowchart */
}
.feature-box{
  line-height: 1.5;
}
.feature-icons{
  color:#ef8172;
  font-size:4rem;
}
.feature-icons:hover{
  color:#ff4c68;
}
.feature-title {
  font-size: 1.5rem;
}
/* Testimonials */
#testimonials{
  background-color: #ef8172;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #ef8172;
  padding-bottom:3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}

#pricing{
  padding:5% 7%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column{
  padding: 3% 2%;
}
.breed-name{
  font-size:1.5rem;
  /* it's important to make changes for the sepcific elements rather than trying to give the change to whole container
  ,for eg font size is for text not for a container */
}
@media (max-width:1024px)
{
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }

}


.footer-icon{
  margin:10px 10px 30px;
}
